.box-123{
    border: 1px solid black;
    background: #ffffff;
    opacity: .5;
}
.bsr-map-context-menu{
    position: absolute;
    top: 220px;
    left: 220px;
    padding: 2px;
    border: 1px #282c34 solid;
    background-color: #dedcdc;
}
