html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

#root {
    display: flex;
    height: 100%;
    width: 100%;
}

.band {
    height: 1px;
    background: #dedcdc;
}


.left-menu {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 300px;
    min-width: 300px;

}

#content {
    background-color: #b8f6c1;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;


    font-size: 20px;
}
.left-menu button{
    text-align: left;
    padding-left: 20px;
    margin: 2px 10px 10px 10px;
    width: 270px;
}
.box{
    border: 1px solid black;
    background: #ffffff;
    opacity: .5;
}